.base {
  border: 1px solid DarkGray;
  border-radius: 3px;
  margin-bottom: 30px;
}

.header {
  background-color: LightGray;
  padding: 10px 10px;
  font-weight: 600;
}

.main {
  padding: 10px 10px;
}
