.base {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.left {
  margin-right: auto;
}

.right {
  padding: 0
}

.item {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.modal-item {
  text-decoration: none;
  list-style: none;
  margin: 4px;
  cursor: pointer;
}

.modal-item-check {
  margin-left: 8px;
  color: red;
}

.modal-close-btn {
  text-align: right;
  cursor: pointer;
  margin: 0 16px;
}
