.base {
  border-bottom: 1px solid DarkGray;
}

.header {
  display: flex;
  background: LightGray;
  justify-content: center;
  align-items: center;
}

.base-row {
  align-items: center;
  text-align: center;
}

.row {
  composes: base-row;
  flex: 1;
}

.row-2 {
  composes: base-row;
  flex: 2;
}

.row-3 {
  composes: base-row;
  flex: 3;
}
